<div class="ui basic segment">
    <div class="ui three column stackable grid">
        <div class="column">
            <a href="{{ path('sylius_shop_homepage') }}"><img src="{{ asset('assets/shop/img/logo.png') }}" alt="Balloti-Photographie logo" class="ui small image" /></a>
        </div>
        <div class="column">
            <h1>Bonjour et bienvenu !<br/></h1>
            <h3>Nous sommes à votre service et heureux de vous compter parmi nous !</h3>
            {{ sonata_block_render_event('sylius.shop.layout.header') }}
        </div>
        <div class="right aligned column">
            {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
        </div>
    </div>
</div>
