h1 {
    font-style: italic;
    color: rgb(36, 2, 73);
    text-align: center;
}

h2,h3 {
    font-style: normal;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: #1b1c1d;
}

h5 {
    font-style: italic;
    color: #1B1C1D;
    text-align: center;
}

.one {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.tow {
    font-size: 15px;
    color: rgb(36, 2, 73);
}

.carousel-caption {
    background-color: rgba(255,249,252,0.6);
}

.bitbag-page a, .bitbag-page a:hover {
    color: rgba(0, 0, 0, .87);
    width: 100%;
}

.bitbag-image-block img {
    position: relative;
}

.top.one {
    margin-top: 1rem;
    color: #052175;
}

.bitbag-image-block span {
    z-index: 25;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: #ffffff;
    text-transform: uppercase;
}

.bitbag-image-block span a {
    text-decoration: none;
    width: 100%;
    color: #ffedf0;
    background-color: rgba(0, 0, 0, 0.59);
}

.bitbag-page, .bitbag-frequently-asked-question {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}

.bitbag-page:hover {
    background: rgba(0, 0, 0, .03);
}

.italic {
    font-style: italic;
}

.intro {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    color: #052ea9;
    background-color: rgba(0, 239, 255, 0.04);
    border-radius: 15px 15px 15px 15px;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}


