{% block subject %}
    Confirmation de commande
{% endblock %}

{% block body %}
    {% set url = order.channel.hostname is not null ? 'http://' ~ order.channel.hostname ~ path('sylius_shop_order_show', {'tokenValue': order.tokenValue, '_locale': order.localeCode}) : url('sylius_shop_order_show', {'tokenValue': order.tokenValue, '_locale': order.localeCode}) %}
    {% autoescape %}
        Votre numéro de commande: {{ order.number }} a été passée avec succès.
        <br/>
        Pour voir la commande ou changer le mode de paiement, veuillez suivre ce lien: <a href="{{ url|raw }}">{{ url|raw }}</a>
        <br/><br/>
        Merci pour vos achats dans notre magasin!
        <br/><br/>
        Cordialement,<br/>
        Balloti-Photographie.
    {% endautoescape %}
{% endblock %}
